<div class="row">
    <div class="col-12 mt-2 mb-2"></div>
    <button class="btn btn-primary col-3" (click)="LinkToItem()">Новый</button>
</div>
<div class="row">
    <p class="mt-2">Фильтры:</p>

    <div class="form-group">
        <label for="surname">Фамилия</label>
        <input type="text" class="form-control" [(ngModel)]="surname" />
    </div>
    <div class="form-group">
        <label for="group">Группа</label>
        <input type="text" class="form-control" [(ngModel)]="group" />
    </div>
    <div class="form-group">
        <label for="direction">Направление</label>
        <input type="text" class="form-control" [(ngModel)]="direction" />
    </div>
    <div>
        <button class="btn btn-primary col-3 mt-2" (click)="filter()"> Отфильтровать</button>
    </div>
    <div>
        <button class="btn btn-danger col-3 mt-2" (click)="getData()"> Сбросить фильтр</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th>e-mail</th>
                    <th>Дата рождения</th>
                    <th>Группа</th>
                    <th>Направление подготовки</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personal of personals" (click)="LinkToItem(personal.id)">
                    <th>{{personal.id}}</th>
                    <td>{{personal.name[0].toLocaleUpperCase()}}</td>
                    <td>{{personal.surname}}</td>
                    <td *ngIf="personal.patronymic; else elseBlock">{{personal.patronymic[0].toLocaleUpperCase()}}</td>
                    <ng-template #elseBlock>
                        <td></td>
                    </ng-template>
                    <td>{{personal.phone}}</td>
                    <td>{{personal.mail}}</td>
                    <td>{{personal.birthday}}</td>
                    <td>{{personal.group}}</td>
                    <td>{{personal.direction}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>